
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Inline&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

body {
    background: url(../assets/Bruxelles.jpg);
    background-size: cover  ;
    height: 900px;
}

h1 {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    text-shadow: 5px 0 0 rgb(18, 3, 102);
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5rem;
    margin: 18px 16px;
    margin-top: 2.5%;

}
h2 {
    color: rgb(8, 8, 8);
    margin-top: 23%;
    background-color: rgba(240, 248, 255, 0.486);
    width: fit-content;
    margin-left: 40%;
    padding: 1%;
    font-family: 'Playfair Display SC', cursive;
    border-radius: 10px;

}


