@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Bungee+Inline&family=Julius+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Yeseva+One&display=swap');


body {
    background: url(../../assets/Livre.jpg)
}

h1 {
    text-align: center;
    padding: 15px;
    width: 300px;
    margin-left: 42%;
    border-radius: 10px;
    color: #ffffff;
    font-family: Aboreto; 
}

#main {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 800px;
    width: 1000px;
    /* background-color: yellow; */
    margin-left: 26.5%;
    margin-top: -2%;
    
}

.card1 {
    width: 400px;
    min-height: 400px; 
    background-color:#74585556;
    padding: 3%;
    color: #ffffff;
    font-size: 18px;
    

}

.card2 {
    width: 400px;
    min-height: 400px; 
    background-color:#74585556;
    background-color:;
    padding: 3%;
    color: #ffffff;
    font-size: 18px;
    
    

}

.material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 700,
          'GRAD' 0,
          'opsz' 48
}

button {
    margin-left: 20%;
    margin-top: 40% ;
    position: absolute ;
    z-index: 1;
    height: 50px;
    width: 100px;
}
      